<md-card>
	<h2 md-line>About page</h2>
	<p>Test driving angular-cli beta 20.4, material, and may try Auth0.</p>
	<p>Router param passed to page is: {{id}}</p>
  <p>
    Source code for this application available at 
    <a href="https://github.com/b4youleap/filingwatch" target="blank"> 
    https://github.com/b4youleap/filingwatch
    </a>
  </p>
  <br>
	<h2 md-line>Attribution for this app:</h2>
	<p>
    This app is modeled after Ng2Play (which is built throughout a series of screencasts), its' source code can be found at
		<a href="https://github.com/ajtowf/ng2_play/" target="_blank">
    https://github.com/ajtowf/ng2_play/
  </a>
	</p>
	<h3 md-line>Youtube</h3>
	<p>
		For screencast on the latest and greates tech from web development, check out my youtube channel
		<a href="https://www.youtube.com/c/AjdenTowfeek" target="_blank">
    https://www.youtube.com/c/AjdenTowfeek
  </a>
	</p>
	<h3 md-line>Twitter</h3>
	<p>
		And make sure to follow me on twitter to stay tuned
		<a href="https://twitter.com/ajtowf" target="_blank">
    https://twitter.com/ajtowf
  </a>
	</p>
</md-card>
